<html>
  <head>
     <title>todoapp</title>
     <meta charset="utf-8">
     <meta name="viewport"content="width=device-width, initial-scale=1">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/style/style.css">
     <!-- <script src="/todolist.js"></script>-->
  </head>
  <body>
     <div class="container-fluid" id="main">
         <div class="row">
          <div class="col-sm-8 col-xs-12 col-sm-offset-4">
            <form class="form-inline" method="POST" action="/" >
            <div class="form-group row">
           <input type="text" class="form-control input-lg"id="item" name="item" placeholder="enter the item name"/><button class="btn-primary btn-lg">Add Item</button>
            </div>
            </form>
           
          </div>
         </div>
          <br/>
            <ul class="list-group">
                <% for(var i=0;i<todos.length;i++){%>
                <li class="list-group-item"><%= todos[i].item%></li>
                <%}%>
            </ul>
     </div>
  </body>
</html>